{% extends "./base.njk" %}

{% block main %}

<article class="blog_container">
    <section class="blog_title">
        <h1>{{ title }}</h1>
        <p>{{ subtext }}</p>
    </section>

    <section class="blog_intro">
        <img src="/img/{{ image }}" alt="{{ imagetext }}">
        <p>{{ description }}</p>
    </section>

    <section class="blog_content">
        {{content | safe}}
    </section>

    <hr>

    <h2 class="recommendations__title">Andere artikelen over E-commerce</h2>

    <a class="allblogs__link" href="/blog">Bekijk alle artikelen -></a>

</article>
{% endblock main %}