---
nav: Contact
tags: nav
textstrong: Kom gerust langs of contacteer ons.
topblock__image: contactimagetop.png
bottomblock__image: contactbottomimage.png
textbottom: 'Studio Boost is gevestigd in het bruisende en historische centrum van Gent, een stad die bekend staat om
zijn rijke cultuur, prachtige architectuur en levendige sfeer. Het kantoor is gelegen in een van de oudste wijken van de
stad, op loopafstand van de vele restaurants, cafés en winkels. De ligging van Studio Boost is ideaal voor het ontvangen
van klanten en het organiseren van vergaderingen en presentaties, aangezien het kantoor gemakkelijk bereikbaar is met
het openbaar vervoer.'
email: info@studioboost.be
telephone: 09 012 34 45
adress: Oudburg 5, 9000 Gent
---

{% extends "../_layouts/grid_over_contact.njk" %}